
# Ignore all the python virtual environment directories
**/*/*env/

# Ignore Compiled Python files and other dummy files
*.pyc
*.log
*.sample

# Ignore the VSCode Directories
XDG_CACHE_HOME
**/*/XDG_CACHE_HOME
**/*/.vscode/

